*{
    padding: 0;
    margin: 0;
}

.cardWraper{
    display: inline-block;
    /* background-color: red; */
    height: 367.969px;
    width: 262.500px;
    margin-left: 10px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.card{
    left: 0;
    right: 0;
    margin: auto;
    /* background-color: blue; */
    height: 315px;
    width: 210px;
    border: 5px solid white;
    border-radius: 5px;
    overflow: hidden;
    background-size: cover;
}

.card:hover{
    border: 5px solid #5da93c;
}

.card2{
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.726);
    height: 315px;
    width: 210px;
    color: white;
    font-size: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    display: none;
    /* transform: translateY(500px); */

}

.links, .links:link, .links:visited{
    color: white !important;
}

.card:hover > .card2{
    /* transform: translateY(0px); */
    display: flex;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    gap: 10px;
}

a{
    
    text-decoration: none;
}

a:visited{
    color: white !important;
}

.viewBtn{
    background-color: #5da93c;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}

.importent_Link{
    font-size: 100px;
}

.title{
    width: 210px;
    margin-left: 10px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

    font-weight: bold;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.title > span:nth-child(2){
    color: #919191;
    font-weight: normal;
}

.banner{
    position: absolute;
}