* {
  padding: 0;
  margin: 0;
}
.navBar {
  height: 60px;
  /* padding-top: 8px; */
  background-color: #1d1d1d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #2f2f2f;
}
.logoDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.logoDiv > img {
  height: 40px;
}
.navText {
  color: #919191;
  font-size: 19px;
  padding: 0;
  margin: 0;
}
