*{
    padding: 0;
    margin: 0;
}

.section{
    display: flex;
    justify-content: center;
    background:linear-gradient(45deg, rgba(29,29,29,1) 20%, rgba(29,29,29,0.7511379551820728) 100%),url('../../assets/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 76.5vh;
}

.container{
    /* background-color: blue; */
    /* width: auto; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.textHeading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
    /* gap: 5px; */
}

.textHeading > p{
    font-size: 15px;
    width: 650px;
    margin: 0 auto;
    line-height: 21px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.linkText{
    font-size:15px;
    color: #428bca;
}

.linkText:visited{
    color: #428bca;
}

.linkText:hover{
    color: #2e689b;
}

.popular_row{
    /* background-color: red; */
    display: 'flex';
    gap: 10px;
}

.line{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.line > span{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
}